@model dynamic
@{
    ViewData["Title"] = "Park Images";
}
<!-- Button trigger modal -->
<button id="AddImage" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add an Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onsubmit="return checkAuthorization()">
    @using (Html.BeginForm("SaveImage", "Personal", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add an Image for @Model.ParkDetails.ParkName</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="file" name="Image" accept="image/x-png,image/gif,image/jpeg, image/jpg" required />
                    <input name="ParkName" type="text" value="@Model.ParkDetails.ParkName" readonly />
                    <p>Park Name</p>
                    <input name="ParkId" type="number" value="@Model.ParkDetails.ParkNumber" readonly />
                    <p>Park Number</p>
                    <input name="Title" type="text" maxlength="50" required />
                    <p> Image Title</p>
                    <textarea name="Description" cols="60" rows="5" maxlength="150" placeholder="What trail was this?"></textarea>
                    <p> Image Description</p>
                    <input id="authorizationCode" type="password" maxlength="25" required />
                    <p id="authLabel"> Authorization Code </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" id="btnUpload" value="Upload" />

                </div>
            </div>
        </div>
    }
</div>
@* Have not visited yet *@
@if (Model.ParkImages.Count == 0)
{
    <h6 class="text-center">We have not visited this park yet. Please check back later.</h6>
}

@* Carousel *@
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @{ int slide = 0;
            foreach (ParkImage parkImage in Model.ParkImages)
            {
                string carousel = slide == 0 ? "active" : "";
                <li data-target="#carouselExampleIndicators" data-slide-to="@slide" class="active"></li>
                slide = slide + 1;
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{ int imageNumber = 0;
            foreach (ParkImage parkImage in Model.ParkImages)
            {
                string carousel = imageNumber == 0 ? "carousel-item active" : "carousel-item";
                <div class="@carousel">
                    <a href='@Url.Action("GetImageById", "Personal", new { ImageId = @parkImage.Id })'> <img src='@Url.Action("GetImageById", "Personal", new { ImageId = @parkImage.Id })'> </a>
                    <div class="carousel-caption text-center">
                        <h1>@parkImage.Title</h1>
                        <h4>@parkImage.Description</h4>
                        <a id="delete" class="nav-link" onclick="return deleteValidation()" href="@Url.Action("DeleteImageById", "Personal", new { imageId = @parkImage.Id, Parkname = @Model.ParkDetails.ParkName, ParkNumber = @Model.ParkDetails.ParkNumber })">Delete this Image </a>
                    </div>
                </div>
                imageNumber = imageNumber + 1;
            }

        }
    </div>
    @if (@Model.ParkImages.Count > 0)
    {
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span><i id="arrow" class="fas fa-arrow-circle-left fa-lg"></i></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span><i id="arrow" class="fas fa-arrow-circle-right fa-lg"></i></span>
        </a>
    }
</div>
