@model dynamic
@{
    ViewData["Title"] = "Park Images";
}
<div>
    <input type="button" onclick="ToggleAddForm()" value="Add an Image for this park" />
</div>
@using (Html.BeginForm("SaveImage", "Personal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
        <div id="AddImageForm">
            <input type="file" name="Image" />
            <input name="Parkname" type="text" value="@Model.ParkDetails.ParkName" readonly />
            <input name="ParkID" type="text" value="@Model.ParkDetails.ParkListId" readonly />
            <input name="Title" type="text" />
            <input name="Description" type="text" />
            <input type="submit" id="btnUpload" value="Upload" />
        </div> 


}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @{ int slide = 0;
            foreach (ParkImage parkImage in Model.ParkImages)
            {
                string carousel = slide == 0 ? "active" : "";
                <li data-target="#carouselExampleIndicators" data-slide-to="@slide" class="active"></li>
                slide = slide + 1;
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{ int imageNumber = 0;
                foreach (ParkImage parkImage in Model.ParkImages)
                {
                    string carousel = imageNumber == 0 ? "carousel-item active" : "carousel-item";
                    <div class="@carousel">
                        <a href='@Url.Action("GetImageById", "Personal", new { ImageId = @parkImage.Id })'> <img src='@Url.Action("GetImageById", "Personal", new { ImageId = @parkImage.Id })'> </a>
                        <div class="carousel-caption text-center">
                            <h2>@parkImage.Title</h2>
                            <h5>@parkImage.Description</h5>
                            <a class="nav-link text-dark" href="@Url.Action("DeleteImageById", "Personal", new { imageId = @parkImage.Id, Parkname = @Model.ParkDetails.ParkName, ParkId = @Model.ParkDetails.ParkListId })">Delete this Image </a>
                        </div>
                    </div>
                    imageNumber = imageNumber + 1;
                }

        }
    </div>
    @if (@Model.ParkImages.Count > 0)
    {
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    }
</div>
